.intro {
  min-height: 25em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.intro__container {
  min-width: 30em;
  margin: 1em 0;
  width: 45%;
  padding: 2%;
  border: .1em solid var(--dark);
  border-radius: .4em;
}

@media screen and (max-width: 600px) {
  .intro__container {
    width: 100%;
    min-width: auto;
  }
}

@media screen and (max-width: 400px) {
  .intro__container {
    min-width: 20em;
  }
}