.intro {
  min-height: 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.intro__container {
  min-width: 30em;
  margin: 1em 0;
  width: 45%;
  padding: 2%;
  border: .1em solid var(--dark);
  border-radius: .4em;
}